.property-name{
    color: rgb(43, 43, 218);
    font-size: x-large;
    font-weight: 700;
}
.property-name:hover{
    color: rgb(86, 86, 172);
    font-size: x-large;
    font-weight: 800;
    cursor: pointer;
    transition: all 1s;
}
.address{
    color: blueviolet;
}
.score-word{
    color: #4f4b4b;
    font-size: large;
}
.review-score{
    padding: 0;
    font-size: xx-large;
    color: white;
    background-color: coral;
    border-radius: 11px;
    box-shadow: 1px 1px 6px 1px grey;
    text-align: center;
}
.room-msg{
    color: black;
    font-size: 1.5rem;
    font-weight: 500;
}

.facility-info{
    color: rgb(33, 185, 33);
    font-size: large;
    font-weight: 400;
}
.facility-info-exp{
    color: rgb(21, 135, 21);
    font-weight: 300;
}
.urgent-msg{
    color: rgb(242, 8, 8);
    font-size: large;
}
.crossed-price, .crossed-price span {
    color: red;
    text-decoration-line: line-through;
    text-align: right;
}
.price, .price span{
    color: green;
    font-size: large;
    text-align:right;
}
.search-panel{
    width: 100%;
    display: flex;
    background-color: rgb(255, 166, 0);
    flex-direction: column;
    padding: 2%;
}

.form-div{
    width: 80%;
    margin-left: 10%;
}